<h1> Please sign in </h1>

<%= form_tag do %>
  <div class="sign_in_form_entry">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div class="sign_in_form_entry">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="btn">
    <%= submit_tag "Sign In" %>
  </div>

<% end %>
